<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring-otel-starter" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-otel-starter" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="eu.europa.ec.cc.otel.SpringOtelStarterApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>